* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 50px 100px 1fr;
    grid-template-columns: minmax(200px, 250px) 1fr 250px;

    background-color: lightgray;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;

    padding: 8px;
    background-color: rgb(0, 162, 255);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem repeat(11, 1.5rem);
    align-items: center;
    gap: 8px;
}
.sidebar>button {
    height: 100%;
    width: fit-content;

    background-color: transparent;
    border: 0;
    color: white;

    font-size: 1rem;
    font-weight: bold;

    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 8px;
}
.sidebar>button:hover {
    padding-left: 8px;
}
/* Make first button (Dashboard) have bigger font */
.sidebar>button:first-of-type {
    font-size: 1.5rem;
}
.sidebar svg {
    fill: white;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.search-bar {
    grid-row: 1;
    grid-column: 2;
    width: 100%;

    background-color: white;

    display: grid;
    grid-template-columns: 64px minmax(8ch, 100ch);
    justify-content: center;
    padding: 8px;
}
.search-bar>svg {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}
.search-bar>input {
    background-color: lightgray;
    border: 0;
    border-radius: 50rem;
}

.account-corner {
    grid-row: 1;
    grid-column: 3;
}

.control-bar {
    grid-row: 2;
    grid-column: 2 / -1;
}

.main-content {
    grid-row: 3;
    grid-column: 2 / -1;
}
