:root {
    --light-blue: rgb(0, 162, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 64px 100px 1fr;
    grid-template-columns: minmax(200px, 250px) 1fr 250px;

    background-color: lightgray;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;

    padding: 8px;
    background-color: var(--light-blue);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem repeat(11, 1.5rem);
    align-items: center;
    gap: 8px;
}
.sidebar>button {
    height: 100%;
    width: fit-content;

    background-color: transparent;
    border: 0;
    color: white;

    font-size: 1rem;
    font-weight: bold;

    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 8px;
}
.sidebar>button:hover {
    padding-left: 8px;
}
/* Make first button (Dashboard) have bigger font */
.sidebar>button:first-of-type {
    font-size: 1.5rem;
}
.sidebar svg {
    fill: white;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.search-bar {
    grid-row: 1;
    grid-column: 2;
    width: 100%;

    background-color: white;

    display: grid;
    grid-template-columns: 32px minmax(8ch, 100ch);
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.search-bar>svg {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}
.search-bar>input {
    background-color: lightgray;
    border: 0;
    border-radius: 50rem;
    padding: 8px;
}

.profile-picture {
    width: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}
.profile-picture.large {
    width: 80px;
}

.account-corner {
    grid-row: 1;
    grid-column: 3;

    padding: 4px;
    background-color: white;

    display: grid;
    grid-template-columns: 32px 64px 1fr;
    align-items: center;
    gap: 8px;
}

.control-bar {
    grid-row: 2;
    grid-column: 2 / -1;

    background-color: white;

    display: flex;
    justify-content: space-between;
}
.control-bar>.account-info {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1rem 1fr;
    align-items: center;
    padding: 8px;
}
.control-bar>.account-info>img {
    justify-self: center;
    grid-row: 1 / -1;
}
.control-bar>.account-info>.user-name {
    font-size: 1.6rem;
    font-weight: bolder;
}
.control-bar>.control-buttons {
    display: grid;
    padding: 16px;
    grid-template-columns: repeat(3, 10ch);
    gap: 16px;
    align-items: center;
}
.control-buttons>button {
    padding: 8px;
    border: 0;
    border-radius: 16px;
    color: white;
    background-color: var(--light-blue);
}


.main-content {
    grid-row: 3;
    grid-column: 2 / -1;

    padding: 16px;

    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}
.projects {
    grid-row: 1 / -1;
}
.cards {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 200px);
    gap: 16px;
}
.card {
    background-color: white;
    border-left: 8px solid orange;
    border-radius: 8px;

    padding: 16px 8px;
    display: grid;
    grid-template-rows: 1rem 1fr 32px;
}
.card>p {
    overflow: hidden;
    line-clamp: 5;
}
.card>.actions {
    justify-self: end;
}
.card>.actions>button {
    border: 1px solid red;
}
.card>.actions>button>svg {
    fill: black;
}
